 /* ******************************* */
 /*   HEADER SECTION */
 /* ******************************* */
 .header {
   background-color: #fdf2e9;
   display: flex;
   justify-content: space-between;
   padding: 0 4.8rem;
   height: 9.6rem;
   align-items: center;
   position: relative;
 }

 .logo {
   height: 2.2rem;
 }


 /* ******************************* */
 /* NAVIGATION  */
 /* ******************************* */

 .main-nav-list {
   list-style: none;
   display: flex;
   align-items: center;
   gap: 4.8rem;

 }

 .main-nav-link:link,
 .main-nav-link:visited {
   display: inline-block;
   text-decoration: none;
   color: #333;
   font-weight: 500;
   font-size: 1.8rem;
 }

 .main-nav-link:hover,
 .main-nav-link:active {
   color: #cf711f;
   transition: all 0.3s;
 }

 .main-nav-link.nav-cta:link,
 .main-nav-link.nav-cta:visited {
   background-color: #e67e22;
   color: #fff;
   border-radius: 9px;
   padding: 1.2rem 2.4rem;
 }

 .main-nav-link.nav-cta:hover,
 .main-nav-link.nav-cta:active {
   background-color: #cf711f;


 }

 /* MOBILE */

 .btn-mobile-nav {
   border: none;
   background: none;
   cursor: pointer;
   display: none;
 }

 .icon-mobile-nav {
   font-size: 4.8rem;
   width: 4.8rem;
   height: 4.8rem;
   color: #333;
 }

 .icon-mobile-nav[name="close"] {
   display: none;
 }


 /*  STICKY SECTION*/

 /* .sticky .header {
   width: 100%;
   height: 8rem;
   box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
   background-color: rgba(255, 255, 255, 0.97);
   position: fixed;
   top: 0;
   bottom: 0;
   padding-top: 0;
   padding-bottom: 0;
   z-index: 999;
 } */

 .sticky .header {
   position: fixed;
   width: 100%;
   height: 8rem;
   background-color: rgba(255, 255, 255, 0.97);
   box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
   z-index: 999;
   padding-top: 0;
   padding-bottom: 0;
   top: 0;
   bottom: 0;
 }

 .sticky .section-hero {
   margin-top: 9.6rem;
 }

 /* .sticky .section-hero {
   margin-top: 9.6rem;
 } */

 /* ******************************* */
 /* HERO SECTION */
 /* ******************************* */

 .section-hero {
   background-color: #fdf2e9;
   padding: 4.8rem 0 9.6rem 0;
 }

 .hero {
   max-width: 130rem;
   grid-template-columns: 1fr 1fr;
   display: grid;
   gap: 9.6rem;
   padding: 0 3.2rem;
   margin: 0 auto;
   align-items: center;
 }

 .hero-img {
   width: 100%;
 }

 .hero-description {
   font-size: 2rem;
   line-height: 1.6;
   margin-bottom: 4.8rem;
 }

 .delivered-meals {
   display: flex;
   margin-top: 8rem;
   align-items: center;
   gap: 1.6rem;
 }

 .delivered-imgs {
   display: flex;
 }

 .delivered-imgs img {
   height: 4.8rem;
   width: 4.8rem;
   border-radius: 50%;
   margin-right: -1.6rem;
   border: 3px solid #fdf2e9;
 }

 .delivered-imgs img:last-child {
   margin: 0;
 }

 .delivered-text {
   font-size: 1.8rem;
   font-weight: 600;
 }

 .delivered-text span {
   color: #cf711f;
   font-weight: 700;
 }

 /* ******************************* */
 /* FEATURED IN SECTION */
 /* ******************************* */
 .section-featured {
   padding: 4.8rem 0;
 }

 .heading-featured-in {
   font-size: 1.4rem;
   text-transform: uppercase;
   font-weight: 500;
   line-height: .75px;
   text-align: center;
   margin-bottom: 2.4rem;
   color: #888;
 }

 .logos {
   display: flex;
   justify-content: space-around;

 }

 .logos img {
   height: 3.2rem;
   filter: brightness(0);
   opacity: 50%;
 }

 /* ******************************* */
 /* HOW IT WORKS SECTION */
 /* ******************************* */
 .section-how {
   padding: 9.6rem 0;
 }

 .step-img {
   width: 35%;
 }

 .step-number {
   font-size: 8.6rem;
   color: #ddd;
   margin-bottom: 1.2rem;
   font-weight: 600;
 }

 .step-description {
   font-size: 1.8rem;
   line-height: 2;
 }

 .step-img-box {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .step-img-box::before,
 .step-img-box::after {

   content: "";
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
 }

 .step-img-box::before {
   width: 60%;
   /* height: 60%;
  */
   padding-bottom: 60%;
   background-color: #fdf2e9;
   z-index: -2;

 }

 .step-img-box::after {
   width: 45%;
   padding-bottom: 45%;
   background-color: #fae5d3;
   z-index: -1;

 }

 /* ******************************* */
 /*  MEALS SECTION */
 /* ******************************* */
 .section-meals {
   padding: 9.6rem 0;
 }

 .meal {
   box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
   border-radius: 1.1rem;
   overflow: hidden;
   transition: all 0.4s;
 }

 .meal:hover {
   transform: translateY(-1.2rem);
   box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);

 }


 .tag {
   display: inline-block;
   padding: 0.4rem 0.8rem;
   font-size: 1.2rem;
   text-transform: uppercase;
   color: #333;
   border-radius: 10rem;
   cursor: pointer;
   font-weight: 600;
 }

 .meal-tag {
   margin-bottom: 1.2rem;
   display: flex;
   gap: 0.4rem;

 }

 .tag--vegetarian {
   background-color: #51cf66;
 }

 .tag--vegan {
   background-color: #94d82d;
 }

 .tag--paleo {
   background-color: #ffd43b;
 }

 .meal-title {
   font-size: 2.4rem;
   color: #333;
   font-weight: 600;
   margin-bottom: 3.2rem;

 }

 .meal-attributes {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 2rem;
 }

 .meal-attribute {
   font-size: 1.8rem;
 }

 .meal-img {
   width: 100%;
 }

 .meal-icon {
   display: inline-block;
   width: 2.4rem;
   height: 2.4rem;
 }

 .meal-content {
   padding: 3.2rem 4.8rem 4.8rem 4.8rem;
 }

 .all-recipes {
   text-align: center;
   font-size: 1.8rem;
 }

 /* ******************************* */
 /*  TESTIMONIALS SECTION */
 /* ******************************* */
 .section-testimonials {
   background-color: #fdf2e9;
   display: grid;
   grid-template-columns: 55fr 45fr;
   align-items: center;
 }

 .testimonials {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   row-gap: 4.8rem;
   column-gap: 8rem;
 }

 .testimonial-img {
   width: 6.4rem;
   border-radius: 50%;
   margin-bottom: 1.2rem;
 }

 .testimonial-container {
   padding: 9.6rem;

 }

 .testimonial-text {
   font-size: 1.8rem;
   line-height: 1.8;
   margin-bottom: 1.6rem;
 }


 .testimonial-name {
   font-size: 1.6rem;
   color: #6f6f6f;
 }

 .gallery {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1.6rem;
   padding: 1.6rem;
 }

 .gallery-item {
   overflow: hidden;
 }

 .gallery-item img {
   display: block;
   width: 100%;
   transition: all 0.4s;
 }

 .gallery-item img:hover {
   transform: scale(1.1);
   /* box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06); */

 }

 /* ******************************* */
 /*  pricing SECTION */
 /* ******************************* */
 .section-pricing {
   padding: 9.6rem 0;

 }

 .pricing-plan {
   border-radius: 1.1rem;
   width: 75%;
 }

 .plan-header {
   /* text-align: center; */
   margin-bottom: 8rem;
 }

 .plan-name {
   font-size: 2rem;
   font-weight: 600;
   color: #cf711f;
   margin-bottom: 3.2rem;
   text-transform: uppercase;
   letter-spacing: 0.75;
 }

 .plan-price {
   font-size: 6.2rem;
   font-weight: 600;
   margin-bottom: 1.6rem;
   color: #333;
 }

 /* .plan-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

 .plan-head {
   text-align: center;
 }

 .plan-price span {
   font-size: 3rem;
   font-weight: 500;
   margin-right: 0.8rem;
 }

 .plan-text {
   font-size: 1.6rem;
   line-height: 1.6rem;
 }

 .plan-sign-up {
   margin-top: 4.8rem;
   text-align: center;
 }

 .plan-complete {
   background-color: #fdf2e9;
   padding: 4.8rem;
   position: relative;
   overflow: hidden;
 }

 .plan-complete ::after {
   content: "best value";
   position: absolute;
   background-color: #ffd43b;
   font-size: 1.4rem;
   text-transform: uppercase;
   top: 6%;
   right: -18%;
   font-weight: 700;
   color: #333;
   padding: 0.8rem 8rem;
   transform: rotate(45deg);


 }

 .plan-starter {
   justify-self: end;
   border: 2px solid #fdf2e9;
   padding: 4.6rem;
 }


 /* FEATURE SECTION */

 .feature-icon {
   color: #e67e22;
   width: 4rem;
   height: 4rem;
   font-size: 2.4rem;
   margin-bottom: 3.2rem;
   background-color: #fdf2e9;
   display: grid;
   justify-content: center;
   align-items: center;
   border-radius: 50%;

 }

 .plan-details {
   font-size: 1.6rem;
   line-height: 1.6rem;
   text-align: center;
 }

 .feature-title {
   font-size: 2.4rem;
   color: #333;
   font-weight: 700;
   margin-bottom: 1.6rem;
 }

 .feature-text {
   font-size: 1.8rem;
   line-height: 1.8;
 }

 /* ******************************* */
 /*  CTA SECTION */
 /* ******************************* */
 .section-cta {
   /* padding: 9.6rem 0 12.8rem 0; */
   padding: 4.8rem 0 12.8rem;

 }

 .cta {
   display: grid;
   grid-template-columns: 2fr 1fr;
   background-color: #e67e22;
   box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
   border-radius: 1.1rem;
   background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
   overflow: hidden;

 }


 .cta-text-box {
   color: #2e1907;
   padding: 4.8rem 6.4rem 6.4rem 6.4rem;
 }

 .cta-text-box .heading-secondary {
   color: inherit;
   margin-bottom: 3.2rem;
 }

 .cta-text {
   font-size: 1.8rem;
   line-height: 1.8rem;
   margin-bottom: 4.8rem;
 }

 .cta-img-box {
   background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url("../img/eating.jpg");
   background-size: cover;
 }

 .cta-form input,
 .cta-form select {
   font-size: 1.8rem;
   padding: 1.2rem;
   font-family: inherit;
   width: 100%;
   color: inherit;
   border: none;
   background-color: #fdf2e9;
   border-radius: 0.9rem;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
 }

 .cta-form input::placeholder {
   color: #aaa;
 }

 .cta-form label {
   font-size: 1.6rem;
   display: block;
   margin-bottom: 1.2rem;
   font-weight: 500;
 }

 .cta-form {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 3.2rem;
   row-gap: 2.4rem;
 }

 .cta *:focus {
   outline: none;
   box-shadow: 0 0 0 8px hsla(27, 83%, 95%, 0.5);
 }

 /* ******************************* */
 /* FOOTER*/
 /* ******************************* */
 .footer {
   padding: 12.8rem 0;
   border: 1px solid #eee;
 }

 .footer-heading {
   font-size: 1.8rem;
   font-weight: 600;
   margin-bottom: 4rem;
 }

 .footer-nav {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 2.4rem;
 }

 .social-links {
   list-style: none;
   display: flex;
   gap: 2.4rem;
 }

 .logo-col {
   display: flex;
   flex-direction: column;
 }

 .footer-logo {
   display: block;
   margin-bottom: 3.2rem;
 }

 .social-icon {
   width: 2.4rem;
   height: 2.4rem;
 }


 .footer-link:link,
 .footer-link:visited {
   font-size: 1.6rem;
   text-decoration: none;
   color: #767676;
   transition: all 0.3s;
 }

 .address {
   margin-bottom: 2.4rem;
 }

 .contacts {
   font-style: normal;
   font-size: 1.6rem;
   line-height: 1.6;
 }

 .footer-link:hover,
 .footer-link:active {
   color: #555;
 }

 .copyright {
   font-size: 1.4rem;
   color: #767676;
   line-height: 1.6;
   margin-top: auto;
 }